$primary-link-color: #00ADB5;
$secondary-link-color: #00ADB5;
$primary-font-san-serif: "Sniglet", san-serif;
$secondary-font-san-serif: "Cabin", san-serif;
$primary-font-serif: "Noto Serif", serif;
$secondary-font-serif: "Arial", serif;