@use "custom-variables" as *;

$border: 1px solid rgba(226, 232, 240, 1);
.post-detail {
  width: 750px;
  font-family: $primary-font-serif;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  &-content {
    font-size: 1.2rem;
  }
}

.post-detail-comment-section {
  border: $border;
  border-radius: 1px;
  padding: 2.5rem;
  font-family: $primary-font-san-serif;

  .comment-form {
    position: relative;
    display: flex;
    padding: 1rem 0;
    border-bottom: $border;
    margin-bottom: 2.5rem;
  }

  .comment-data {
    width: 100%;
    outline: 0 !important;
  }

}

.comment-node {
  &-header {
    display: flex;
    flex-direction: row;
  }
  .date-posted {
    font-size: 0.78rem;
    color: #8fa4bf;
  }
}
