@model DataAccess.DTO.UserDTO
@{
    ViewData["Title"] = "Edit User Profile";
}
<style>
    body {
        background-color: #eaeaea;
    }
</style>
<div class="profile-container">
    <img src="https://s3.amazonaws.com/HC-CDN/blog-header.jpg" class="cover-img" />
    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">
                <img src="https://xemvm.com/themes/989me/images/guestbook/no_avatar.png" class="pd-image" />
                <div>
                    <h3>@Model.FirstName @Model.MiddleName @Model.LastName</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-info">
        <div class="info-col">
            <div class="profile-intro">
                <h3>Intro</h3>
                <p class="intro-text">@Model.Intro</p>
                <hr>
            </div>
        </div>
        <div class="post-col">
            <div class="col-xl-12">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form asp-action="Edit" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Id" class="control-label" hidden></label>
                                <input asp-for="Id" class="form-control" hidden />
                                <span asp-validation-for="Id" class="text-danger" hidden></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RegisteredAt" class="control-label" hidden></label>
                                <input asp-for="RegisteredAt" class="form-control" hidden />
                                <span asp-validation-for="RegisteredAt" class="text-danger" hidden></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastLogin" class="control-label" hidden></label>
                                <input asp-for="LastLogin" class="form-control" hidden />
                                <span asp-validation-for="LastLogin" class="text-danger" hidden></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RoleId" class="control-label" hidden></label>
                                <input asp-for="RoleId" class="form-control" hidden />
                                <span asp-validation-for="RoleId" class="text-danger" hidden></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PasswordHash" class="control-label" hidden></label>
                                <input asp-for="PasswordHash" class="form-control" type="password" hidden />
                                <span asp-validation-for="PasswordHash" class="text-danger" hidden></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Proflie" class="control-label" hidden></label>
                                <input asp-for="Proflie" class="form-control" hidden />
                                <span asp-validation-for="Proflie" class="text-danger" hidden></span>
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-4">
                                    <label asp-for="FirstName" class="small mb-1" for="inputFirstName">First name</label>
                                    <input asp-for="FirstName" class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <!-- Form Group (middle name)-->
                                <div class="col-md-4">
                                    <label asp-for="MiddleName" class="small mb-1" for="inputMiddleName">Middle name</label>
                                    <input asp-for="MiddleName" class="form-control" id="inputMiddleName" type="text" placeholder="Enter your last name">
                                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-4">
                                    <label asp-for="LastName" class="small mb-1" for="inputLastName">Last name</label>
                                    <input asp-for="LastName" class="form-control" id="inputLastName" type="text" placeholder="Enter your last name">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (email address)-->
                                <div class="col-md-6">
                                    <label asp-for="Email" class="small mb-1" for="inputEmailAddress">Email address</label>
                                    <input asp-for="Email" class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label asp-for="Mobile" class="small mb-1" for="inputPhone">Phone number</label>
                                    <input asp-for="Mobile" class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number">
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>

                            </div>
                            <!-- Form Group (intro)-->
                            <div class="mb-3">
                                <label asp-for="Intro" class="small mb-1" for="Intro">Intro</label>
                                <input asp-for="Intro" class="form-control" id="Intro" type="text" placeholder="Introduce yourself">
                                <span asp-validation-for="Intro" class="text-danger"></span>
                            </div>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>