@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="post-detail container">
    <section class="post-detail-comment-section  my-2 pb-3"
             id="comment-section">
        <div id="comment-form">
            <form class="comment-form">
                <input class="comment-data border-0"
                       id="searchData"
                       type="text"
                       placeholder="Enter keyword: ">
                
                <button type="button" id="searchBtn" onclick="getResult()" class="btn btn-light">Search</button>
            </form>
        </div>
        <div id="result">
            
        </div>
    </section>
</div>
<script type="text/javascript">
     const getResult = () => {
         let searchValue = document.getElementById("searchData").value;
      fetch(`https://localhost:5001/api/Post/title?title=${searchValue}`, {
          headers:
          {"Content-Type": "application/json"}
          ,method: "post"
      }).then(res => res.json())
      .then(data => displayData(data))
      .catch(e => console.error(e));      
    }
    const displayData = (data = []) => {
         const resultTree = document.getElementById("result");
          data.forEach((item) => {
          let postCard = document.createElement("div");
          postCard.className = "post-card flex-row mb-5";
          postCard.innerHTML =  `
                    <div class="post-card-image-wrapper col-md-4">
                        <img class="post-card-image"
                             src="https://images.unsplash.com/photo-1573592371950-348a8f1d9f38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1949&q=80"
                             alt="">
                    </div>
                    <div class="post-card-content-wrapper col-md-8">
                        <div class="post-card-content">
                            <div class="post-card-content-tag">
                                
                            </div>
                            <div class="post-card-content-title">
                                <a asp-action="OnGetPostDetail" asp-controller="Home"
                                   asp-route-id="${item["id"]}"
                                   class="text-dark">
                                    <h4>
                                       ${item["title"]}
                                    </h4>
                                </a>
                                <p>${item["summary"]}</p>
                            </div>
                            <div class="post-card-content-author position-relative">
                               <i class="fa-solid fa-user"></i>
                                <a href="" class="text-dark">
                                    <span>${item["author"]["fullName"]}</span>
                                    <span class="date-posted">| ${item["publishedAt"]}</span>
                                </a>
                            </div>
                        </div>
                    </div>
               ` ;
                resultTree.append(postCard);
      })
    }
</script>